// $Bootstrap
@import 'vendor/bootstrap/core';
// $Fontawesome
@import 'vendor/font-awesome/main';
// $Parts
@import 'parts/index';
// Landing
.B-logo {
    width: 200px;
}

.tiny-font {
    font-weight: 100;
}

hr {
    border-top: 1px solid $transparent-white;
}

.btn-js {
    color: #ffe484;
    border-color: #ffe484;
    background-color: transparent;
    background-image: none;
    &:hover {
        background-color: #ffe484;
        color: #212529;
    }
}