// $Bootstrap
@import 'vendor/bootstrap/core';
// $Fontawesome
@import 'vendor/font-awesome/main';
// $Parts
@import 'parts/index';
// Landing
.B-logo {
    width: 200px;
}

.tiny-font {
    font-weight: 100;
}

.bg-gradient {
    background-image: linear-gradient(to right bottom, #2a1d39, #3b2952, #4d366d, #5f4389, #7151a6);
}